img {
	max-width: 100%;
}
.footer {
	text-align: left;
	background-color: var(--primary-color);
	padding: 2.5rem;
	color: white;
	font-size: 0.95em;
}

.footer a {
	color: #fff;
	margin-right: 10px;
}

.hero {
	padding: 3rem 0 14rem 0;
}

.menu {
	margin-right: 30px;
}

.menu__item {
	padding: 1rem 0.5rem;
}

.menu__item__social {
	padding: 0.3rem;
	display: inline-block;
}

.hero__description {
	margin: -0.5rem auto 1rem auto;
}

h2.section__title {
	font-size: 1.17em;
}

@media (max-width: 575.98px) {
	.button--primary,
	.button--secondary {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}

	.hero__terminal {
		width: 90%;
		min-height: 213px;
	}
}
