
a.beta {
	color: #fff !important;
	font-size: 0.7em;
	display: block;
	margin-top: 20px;
	border: 0;
}

.little-description {
	font-size: 1.3em;
}

#download,
#demo {
	border-radius: 4px;
	text-align: center;
}

#download {
	background: #1571D3;
}

#demo {
	background: #12B36B;
}

#donations {
	background: #234BD7;
	text-align: left;
	border-radius: 4px;
}

#download p,
#demo p,
#donations p {
	color: #fff;
	margin: 10px;
}

a.button1 {
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	padding: 10px 60px;
	margin-top: 10px;
	display: inline-block;
}

a.button1:hover {
	background: rgba(255, 255, 255, 0.26);
}

a.small-button {
	padding: 5px 30px !important;
}

div.donation-button{
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	padding: 5px 30px !important;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
}

div.donation-button:hover {
	background: rgba(255, 255, 255, 0.26);
}

h1.title {
	font-size: 2em;
	color: #FFF;
}

#sponsors h1 {
	font-size: 2em;
	text-align: center;
}

#sponsors a {
	display: block;
	text-decoration: none;
	border-bottom: none !important;
}

#sponsors li:first-child {
	margin-bottom: 20px;
}

#sponsors div.links {
	margin: 20px auto;
	width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #234bd7;
    margin: auto;
    padding: 40px;
    width: 60%;
}

.modal-content p {
	color: #fff;
	margin-bottom: 5px;
}

.modal-content h1 {
	color: #fff;
	font-size: 1.2em;
}

.modal-content a {
	color: #fff;
}

/* The Close Button */
.donationClose {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.donationClose:hover,
.donationClose:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}